<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JspFurtherPrograms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
<param-name>username</param-name>
<param-value>system123</param-value>
</context-param>
 	
 	<servlet>
	<servlet-name>jsp1</servlet-name>
	<jsp-file>/VisitNext.jsp</jsp-file>
	<init-param>
	<param-name>IP1</param-name>
	<param-value>InitParamVal</param-value>
	</init-param>
	</servlet>

	<servlet-mapping>
	<servlet-name>jsp1</servlet-name>
	<url-pattern>/VisitNext.jsp</url-pattern>
	</servlet-mapping>
</web-app>